.navBar{
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    background-color: black;
    color: white;
    padding: 0px 15px;
    width: 100vw;
    height: 12vh
}

.navBar .left{
  width: 500px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
}

.left > img {
  height: 40px;
  border-radius: 50%;
  margin-right: 2%;
}

.navBar .right{
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  height: 100%;
  padding: 0px 15px;
}

.selected {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgb(48, 44, 44);
  text-decoration: none;
  height: 100%;
  padding: 0px 15px;
}

.selected:hover {
  color: white
}

.links:hover{
  color: white;
  background-color: rgb(48, 44, 44);
}

.linkLogo{
  color: white;
  text-decoration: none;
}

.linkLogo:hover{
  color: white;
}