.navBar{
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 20px;
}

.navBar .right{
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.links {
  text-decoration: none;
  color: white;
}