.main {
    background-color: gray;
    height: 120vh
}

.coverWrapper{
    width: 100%;
    height: 700px;
    background-image: url('../../images/test-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coverWrapper > h1, .coverWrapper > h2 {
    background-color: black;
    color: white;
}

.coverWrapper > h1 {
    font-size: 50px;
    margin-bottom: 30px;
    padding: 5px 15px;
}

.coverWrapper > h2 {
    font-size: 30px;
    padding: 5px 15px;
}

.aboutInfoWrapper {
    border: 2px solid black;
    margin: 1% 10%;
}

.aboutInfoWrapper > div:first-child {
    width: 60%;
    display: grid;
    justify-content: space-around;
    grid-auto-flow: column;
}

.aboutInfoWrapper > div:last-child {
    border: 2px solid red;
}

h5:hover {
    cursor: pointer;
    border-bottom: 2px solid red;
}


