.intro {
    display: flex;
    padding: 3% 3%;
    height: 100%;
    text-align: center;
}

.intro:first-child {
    grid-template-columns: 2fr 3fr;
}

.intro > img {
    max-width: 30%;
    margin: 0px auto;
}

.intro > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 3%;
}

.intro > div > h2 {
    text-align: center;
}